<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wblue">
                    <div title="{{vm.title}}"></div>
                    <div class="widget-content">
                            <!-- LOGIN FORM -->

							<div class="col-xs-4"></div>
						<div class="text-center col-xs-4" style="padding:50px 0">
							<div class="logo">{{vm.title}}</div>

							<!-- Main Form -->
							<div class="login-form-1">
								<form id="loginForm" name="loginForm" class="text-left"	
									novalidate
									data-ng-submit="loginForm.$valid && vm.submit()">

									<div class="login-form-main-message"></div>
									<div class="main-login-form">
										<div class="login-group">
											<div class="form-group">
												<label for="lg_username" class="sr-only">Username</label>
												<input type="text" class="form-control" 
													id="lg_username" name="lg_username" placeholder="username"
													data-ng-model="vm.user.name"
													data-ng-required="true">

											</div>
											<div class="form-group">
												<label for="lg_password" class="sr-only">Password</label>
												<input type="password" class="form-control" id="lg_password" name="lg_password" placeholder="password"
														data-ng-model="vm.user.password"
														data-ng-required="true">
											</div>
										</div>

										<!-- <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button> -->
										<button id="button-submit" class="btn btn-default btn-block" type="submit" value="Login"
												data-ng-disabled="loginForm.$invalid">Login</button>
										<login-button></login-button>
									</div>
								</form>
	</div>
	<!-- end:Main Form -->
</div>
							<div class="col-xs-4"></div>


                    
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
